<template>
    <div>
        <h2>Dashboard</h2>

        <button type="button" class="btn btn-dark mt-2" @click="logout">Logout</button>
    </div>
</template>

<script>
import { useRouter } from 'vue-router'
import { UserStore } from '../store/UserStore'
import { mapState } from 'pinia'
export default {
    computed: {
        ...mapState(UserStore, ['token'])
    },
    setup() {
        const router = useRouter();
        const store = UserStore();
        const logout = async () => {
            await axios.post('/api/logout', {}, {
                headers: {
                    "Authorization": `Bearer ${store.token}`
                }
            }).then(res => {
                if (res.data.success) {
                    store.removeToken();
                    router.push({ name: 'Home' });
                }

            }).catch(e => {
                console.log(e.response.data)

            })
        }

        return {
            logout,

        }
    }
}
</script>

<style scoped></style>

setup() {
        const logout = async () => {
            await axios.post('/api/logout', {
                headers: {
                    "Authorization": `Bearer ${this.token}`
                }
            }).then(res => {
                if (res.data.success) {
                    store.setToken(res.data.data.token)
                    router.push({ name: 'Dashboard' })
                } else {
                    error.value = res.data.message
                }
            })
        }

        return {
            logout
        }
    }