<template>
    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <router-link :to="{ name: 'Home' }" class="navbar-brand">Home</router-link>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link :to="{ name: 'Login' }" class="text-white" v-if="token == 0">Login</router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{ name: 'Register' }" class="text-white ml-2" v-if="token == 0">Register</router-link>
                </li>

                <li class="nav-item">
                    <router-link :to="{ name: 'Dashboard' }" class="text-white ml-2"
                        v-if="token != 0">Dashboard</router-link>
                </li>
            </ul>
            =

        </nav>
        <router-view></router-view>

    </div>
</template>

<script>
import { UserStore } from '@/store/UserStore'
import { mapState } from 'pinia'
export default {
    name: 'App',
    computed: {
        ...mapState(UserStore, ['token'])
    },


}
</script>

<style scoped></style>../store/useAuthStore